-- MySQL dump 10.13  Distrib 8.0.29, for Win64 (x86_64)
--
-- Host: localhost    Database: supermercado
-- ------------------------------------------------------
-- Server version	8.0.29

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `categoria`
--

DROP TABLE IF EXISTS `categoria`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categoria` (
  `Codigo_categoria` int NOT NULL,
  `Nombre_categoria` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`Codigo_categoria`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categoria`
--

LOCK TABLES `categoria` WRITE;
/*!40000 ALTER TABLE `categoria` DISABLE KEYS */;
INSERT INTO `categoria` VALUES (1,'Frutas y verduras'),(2,'Carnes y pescados'),(3,'Lácteos'),(4,'Panadería'),(5,'Bebidas'),(6,'Snacks'),(7,'Limpieza'),(8,'Aceites'),(9,'Mascotas'),(10,'Granos'),(11,'Cocina');
/*!40000 ALTER TABLE `categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cliente`
--

DROP TABLE IF EXISTS `cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cliente` (
  `NIT_cliente` int NOT NULL,
  `Nombre_cliente` varchar(45) DEFAULT NULL,
  `Apellido_cliente` varchar(45) DEFAULT NULL,
  `Direccion_cliente` varchar(45) DEFAULT NULL,
  `Telefono_cliente` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`NIT_cliente`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cliente`
--

LOCK TABLES `cliente` WRITE;
/*!40000 ALTER TABLE `cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_factura`
--

DROP TABLE IF EXISTS `detalle_factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_factura` (
  `Numero_factura` int NOT NULL,
  `Codigo_producto` int NOT NULL,
  `Cantidad` int NOT NULL,
  KEY `Numero_factura` (`Numero_factura`),
  KEY `Codigo_producto` (`Codigo_producto`),
  CONSTRAINT `detalle_factura_ibfk_1` FOREIGN KEY (`Numero_factura`) REFERENCES `factura` (`Numero_factura`),
  CONSTRAINT `detalle_factura_ibfk_2` FOREIGN KEY (`Codigo_producto`) REFERENCES `producto` (`Codigo_producto`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_factura`
--

LOCK TABLES `detalle_factura` WRITE;
/*!40000 ALTER TABLE `detalle_factura` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `factura`
--

DROP TABLE IF EXISTS `factura`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `factura` (
  `Numero_factura` int NOT NULL,
  `Fecha_factura` datetime DEFAULT NULL,
  `Total_factura` int DEFAULT NULL,
  `NIT_cliente` int NOT NULL,
  PRIMARY KEY (`Numero_factura`),
  KEY `NIT_cliente` (`NIT_cliente`),
  CONSTRAINT `factura_ibfk_1` FOREIGN KEY (`NIT_cliente`) REFERENCES `cliente` (`NIT_cliente`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `factura`
--

LOCK TABLES `factura` WRITE;
/*!40000 ALTER TABLE `factura` DISABLE KEYS */;
/*!40000 ALTER TABLE `factura` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ganancias`
--

DROP TABLE IF EXISTS `ganancias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ganancias` (
  `id_ganancias` int NOT NULL AUTO_INCREMENT,
  `fecha` date NOT NULL,
  `ganancia` int DEFAULT NULL,
  PRIMARY KEY (`id_ganancias`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ganancias`
--

LOCK TABLES `ganancias` WRITE;
/*!40000 ALTER TABLE `ganancias` DISABLE KEYS */;
INSERT INTO `ganancias` VALUES (1,'2023-03-27',150);
/*!40000 ALTER TABLE `ganancias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto`
--

DROP TABLE IF EXISTS `producto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto` (
  `Codigo_producto` int NOT NULL,
  `Nombre_producto` varchar(45) DEFAULT NULL,
  `Descripcion_producto` varchar(255) DEFAULT NULL,
  `Precio_unitario` decimal(6,2) DEFAULT NULL,
  `Cantidad_stock` int DEFAULT NULL,
  `Costo_unitario` decimal(6,2) DEFAULT NULL,
  `Codigo_categoria` int NOT NULL,
  `NIT_proveedor` int NOT NULL,
  PRIMARY KEY (`Codigo_producto`),
  KEY `Codigo_categoria` (`Codigo_categoria`),
  KEY `NIT_proveedor` (`NIT_proveedor`),
  CONSTRAINT `producto_ibfk_1` FOREIGN KEY (`Codigo_categoria`) REFERENCES `categoria` (`Codigo_categoria`),
  CONSTRAINT `producto_ibfk_2` FOREIGN KEY (`NIT_proveedor`) REFERENCES `proveedor` (`NIT_proveedor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto`
--

LOCK TABLES `producto` WRITE;
/*!40000 ALTER TABLE `producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedor`
--

DROP TABLE IF EXISTS `proveedor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedor` (
  `NIT_proveedor` int NOT NULL,
  `Razon_social` varchar(45) DEFAULT NULL,
  `Direccion_proveedor` varchar(45) DEFAULT NULL,
  `Telefono_proveedor` varchar(45) DEFAULT NULL,
  PRIMARY KEY (`NIT_proveedor`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedor`
--

LOCK TABLES `proveedor` WRITE;
/*!40000 ALTER TABLE `proveedor` DISABLE KEYS */;
INSERT INTO `proveedor` VALUES (11112222,'Proveedor A','Calle 1 #123','1234-5678'),(11113333,'Proveedor J','Calle 10 #1234','1234-5678'),(22223333,'Proveedor B','Calle 2 #234','2345-6789'),(33334444,'Proveedor C','Calle 3 #345','3456-7890'),(44445555,'Proveedor D','Calle 4 #456','4567-8901'),(55556666,'Proveedor E','Calle 5 #567','5678-9012'),(66667777,'Proveedor F','Calle 6 #678','6789-0123'),(77778888,'Proveedor G','Calle 7 #789','7890-1234'),(88889999,'Proveedor H','Calle 8 #890','8901-2345'),(99990000,'Proveedor I','Calle 9 #901','9012-3456');
/*!40000 ALTER TABLE `proveedor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vista_categorias`
--

DROP TABLE IF EXISTS `vista_categorias`;
/*!50001 DROP VIEW IF EXISTS `vista_categorias`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_categorias` AS SELECT 
 1 AS `Codigo_categoria`,
 1 AS `Nombre_categoria`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_clientes`
--

DROP TABLE IF EXISTS `vista_clientes`;
/*!50001 DROP VIEW IF EXISTS `vista_clientes`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_clientes` AS SELECT 
 1 AS `NIT_cliente`,
 1 AS `Nombre_cliente`,
 1 AS `Apellido_cliente`,
 1 AS `Direccion_cliente`,
 1 AS `Telefono_cliente`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_detalle_facturas`
--

DROP TABLE IF EXISTS `vista_detalle_facturas`;
/*!50001 DROP VIEW IF EXISTS `vista_detalle_facturas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_detalle_facturas` AS SELECT 
 1 AS `Numero_factura`,
 1 AS `Codigo_producto`,
 1 AS `Cantidad`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_facturas`
--

DROP TABLE IF EXISTS `vista_facturas`;
/*!50001 DROP VIEW IF EXISTS `vista_facturas`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_facturas` AS SELECT 
 1 AS `Numero_factura`,
 1 AS `Fecha_factura`,
 1 AS `Total_factura`,
 1 AS `NIT_cliente`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_productos`
--

DROP TABLE IF EXISTS `vista_productos`;
/*!50001 DROP VIEW IF EXISTS `vista_productos`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_productos` AS SELECT 
 1 AS `Codigo_producto`,
 1 AS `Nombre_producto`,
 1 AS `Descripcion_producto`,
 1 AS `Precio_unitario`,
 1 AS `Cantidad_stock`,
 1 AS `Costo_unitario`,
 1 AS `Codigo_categoria`,
 1 AS `NIT_proveedor`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_proveedores`
--

DROP TABLE IF EXISTS `vista_proveedores`;
/*!50001 DROP VIEW IF EXISTS `vista_proveedores`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_proveedores` AS SELECT 
 1 AS `NIT_proveedor`,
 1 AS `Razon_social`,
 1 AS `Direccion_proveedor`,
 1 AS `Telefono_proveedor`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_categorias`
--

/*!50001 DROP VIEW IF EXISTS `vista_categorias`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_categorias` AS select `categoria`.`Codigo_categoria` AS `Codigo_categoria`,`categoria`.`Nombre_categoria` AS `Nombre_categoria` from `categoria` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_clientes`
--

/*!50001 DROP VIEW IF EXISTS `vista_clientes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_clientes` AS select `cliente`.`NIT_cliente` AS `NIT_cliente`,`cliente`.`Nombre_cliente` AS `Nombre_cliente`,`cliente`.`Apellido_cliente` AS `Apellido_cliente`,`cliente`.`Direccion_cliente` AS `Direccion_cliente`,`cliente`.`Telefono_cliente` AS `Telefono_cliente` from `cliente` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_detalle_facturas`
--

/*!50001 DROP VIEW IF EXISTS `vista_detalle_facturas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_detalle_facturas` AS select `detalle_factura`.`Numero_factura` AS `Numero_factura`,`detalle_factura`.`Codigo_producto` AS `Codigo_producto`,`detalle_factura`.`Cantidad` AS `Cantidad` from `detalle_factura` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_facturas`
--

/*!50001 DROP VIEW IF EXISTS `vista_facturas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_facturas` AS select `factura`.`Numero_factura` AS `Numero_factura`,`factura`.`Fecha_factura` AS `Fecha_factura`,`factura`.`Total_factura` AS `Total_factura`,`factura`.`NIT_cliente` AS `NIT_cliente` from `factura` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_productos`
--

/*!50001 DROP VIEW IF EXISTS `vista_productos`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_productos` AS select `producto`.`Codigo_producto` AS `Codigo_producto`,`producto`.`Nombre_producto` AS `Nombre_producto`,`producto`.`Descripcion_producto` AS `Descripcion_producto`,`producto`.`Precio_unitario` AS `Precio_unitario`,`producto`.`Cantidad_stock` AS `Cantidad_stock`,`producto`.`Costo_unitario` AS `Costo_unitario`,`producto`.`Codigo_categoria` AS `Codigo_categoria`,`producto`.`NIT_proveedor` AS `NIT_proveedor` from `producto` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_proveedores`
--

/*!50001 DROP VIEW IF EXISTS `vista_proveedores`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_proveedores` AS select `proveedor`.`NIT_proveedor` AS `NIT_proveedor`,`proveedor`.`Razon_social` AS `Razon_social`,`proveedor`.`Direccion_proveedor` AS `Direccion_proveedor`,`proveedor`.`Telefono_proveedor` AS `Telefono_proveedor` from `proveedor` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2023-03-28 16:57:56
